---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import CardBig from '@/components/CardBig.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import mainPhoto from '../assets/main-photo.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const domainKnowledge = ['Logistic', 'E-commerce', 'Food Services']
const techDomains = ['Data Engineering', 'Cloud Computing', 'Generative AI', 'Backend Development' , 'Frontend Development']
const languages = ['Python', 'SQL', 'Java', 'Javascript']
const clouds = ['GCP', 'AWS', 'Aliyun - Alibaba Cloud']
const others = [
	'Apache Airflow',
	'Apache Flink',
	'Apache Superset',
	'Datahub',
	'Apache Spark',
	'Apache Beam'
]
const genAI = ['Langchain', 'aisuite', 'LLM Models( Google Gemini )']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={mainPhoto}
				alt='profile photo'
				class='h-40 w-auto rounded-full p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Nhat Nguyen</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Fairprice Group'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title='Singapore'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/nhatnm/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p>
				I'm a data engineering expert focused on enhancing company operations through efficient data
				systems. My goal is to enable businesses to fully embrace a data-driven approach, driving
				better decision-making and optimizing their overall performance.
			</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			<CardBig
				heading='Senior Manager - Data Engineering'
				subheading='@Fairprice Group - Singapore'
				date='Dec 2021 - Present'
				imagePath='/src/assets/logo-fp.png'
				altText='Senior Manager - Data Engineering @ Fairprice Group'
				imageClass='h-12 w-auto md:-left-16'
				href='https://www.linkedin.com/company/fairprice-group/posts/?feedView=all'
			>
				Technical Achievements:

				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Led the architecture and implementation of a scalable data platform (a.k.a DataPortal)
						for FairPrice Group (FPG) using Google Cloud Platform (GCP) services.
					</li>
					<li>Led the development of in-house solutions for the data team at FPG.</li>
					<li>
						Led the customization and optimization of Data open-source solutions to align with the
						specific requirements of FPG.
					</li>
					<li>
						Worked with vendors to validate the solution for the data team department, including
						assessing capacity requirements and ensuring the solution fit within budget constraints
					</li>
				</ul>

				Tech Stacks:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						GCP: Bigquery, Cloud Composer, GKE, Cloud Run, Cloud Function, CloudSQL
					</li>
					<li>
						Programming Languages: Python, SQL, Javascript (ReactJS)
					</li>
					<li>
						Others: Inhouse Solutions (Data Ingestion, Data Exchange, GenAI Portal, DataPortal), Apache Superset, Apache Flink, Datahub..
					</li>


				</ul>

			</CardBig>
			<CardBig
				heading='Senior Regional Manager - Data Engineering @ Lazada Logistics'
				subheading='@Lazada Group - Singapore'
				date='Jan 2020 - Dec 2021'
				imagePath='/src/assets/logo-lazada.png'
				altText='Senior Manager - Data Engineering @ Fairprice Group'
				imageClass='h-12 w-auto md:-left-16'
			>
				Business and Operation Impacts:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Led a data team (2 headcounts in Singapore, and 2 headcounts in China) in migrating the
						data warehouse during the platform transition from an on-premise solution to Alibaba
						Cloud, ensuring zero downtime for all downstream reports across six countries.
					</li>
					<li>
						Led key components (First mile, Sortation, Last mile) in the Logistic Data Product
						(Eagle), enabling the operations team to achieve a 25-30% reduction in logistics costs.
					</li>
				</ul>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Architected and constructed end-to-end core data pipelines for a new BIG Logistics Data
						Warehouse utilizing technologies such as Kafka, Hadoop, Hive, MapReduce, Spark, and
						Flink in the same six countries.
					</li>
					<li>
						Architected and built data pipelines with a Lambda architecture (Batch + Real-time) for
						core modules in Logistics Data Products, both internal and external, using Flink, Hive,
						Hadoop, HBase, MySQL (Sharding), and Hologres, again in the same six countries.
					</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Regional Manager - Data Engineering @ Lazada Logistics'
				subheading='@Lazada Group - Singapore'
				date='Oct 2018 - Jan 2020'
				imagePath='/src/assets/logo-lazada.png'
				altText='Senior Manager - Data Engineering @ Fairprice Group'
				imageClass='h-12 w-auto md:-left-16'
			>
				Business and Operation Impacts:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Enabled data-driven operations across six countries, resulting in improved
						decision-making and operational efficiency for Lazada Logistics.
					</li>
					<li>
						Reduced manpower costs for BI and Operations teams across six countries by building
						centralized data models, ensuring data consistency and quality.
					</li>
					<li>
						Reduced manpower costs for Operations teams and 3PL Partners by enabling end-to-end data
						for the data product (3PL portal) that serves all 3PL companies partnering with Lazada.
					</li>
				</ul>
				Technical Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Managed a 300TB+ Hive Data Warehouse (MaxCompute) for Lazada Logistics in six countries
						(Singapore, Indonesia, Malaysia, Thailand, Philippines, and Vietnam).
					</li>
					<li>Built automation tools for internal processes to reduce manpower costs.</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Senior Data Engineer'
				subheading='@Tenpoint7 - Vietnam'
				date='Aug 2017 - Oct 2018'
				imagePath='/src/assets/logo-tenpoint7.png'
				altText='Senior Data Engineer'
				imageClass='h-12 w-auto md:-left-16'
			>
				Business Impacts:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Led the architecture and implementation of the data processing side for the second AI
						product (Addy version 1), enabling the company to analyze social media data and generate
						actionable insights. This innovation significantly contributed to securing additional
						investment by demonstrating the company's advanced analytical capabilities and growth
						potential.
					</li>
				</ul>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Designed and developed a scalable data processing pipeline using AWS cloud services for
						Addy, capable of scaling out to run up to a hundred end-to-end data pipelines with
						Machine Learning models. This included the orchestration of data ingestion,
						preprocessing, feature engineering, model training, validation, and deployment
					</li>
					<li>
						Worked with the Data Science team to deploy and scale machine learning models in the AWS
						cloud.
					</li>

					<li>
						Mentored junior team members in using Apache Spark and solving complex technical
						problems.
					</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Data Engineer'
				subheading='@Tenpoint7 - Vietnam'
				date='Sept 2016 - Aug 2017'
				imagePath='/src/assets/logo-tenpoint7.png'
				altText='Data Engineer'
				imageClass='h-12 w-auto md:-left-16'
			>
				Business Impacts:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Led the development of the company's first AI data product (TenPoint7 Cloud),
						significantly enhancing the ability to present and sell ideas to both investors and
						clients, including those in marketing and non-profit sectors in the U.S.
					</li>
					<li>
						Provided technical support to the data consulting team, improving the delivery of
						results and overall client satisfaction.
					</li>
				</ul>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Implemented data lake and pipeline solutions for clients, utilizing tools such as
						Airflow, EMR, S3, ECS, Lambda, and API Gateway.
					</li>
					<li>
						Built scalable crawlers and ETL tools using ECS(Fargate), S3, Docker, Python, DynamoDB,
						SQS, SNS, and Athena. ( capable of scaling out to support thousands of data points
						simultaneously)
					</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Senior Backend Engineer'
				subheading='@Tiki - Vietnam'
				date='Oct 2015 - Sept 2016'
				imagePath='/src/assets/logo-tiki.png'
				altText='Senior Backend Engineer'
				imageClass='h-12 w-auto md:-left-16'
			>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Optimized Miki's Content Management System (CMS) and tuned databases for performance.
					</li>
					<li>Created and modified APIs to enhance functionality for mobile applications.</li>
					<li>Integrated Miki's systems with TIKI's existing infrastructure.</li>
					<li>Implemented Continuous Integration/Continuous Deployment (CI/CD) pipelines.</li>
					<li>
						Migrated Miki's system to a cloud-based architecture (AWS) and adopted microservices
						(Docker).
					</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Backend Engineer'
				subheading='@A Startup Company - Vietnam'
				date='May 2015 - Aug 2016'
				altText='Backend Engineer'
				imagePath='/src/assets/logo-free.png'
				imageClass='h-12 w-auto md:-left-16'
			>
				<p>
					Building a Software-as-a-Service (SaaS) business intelligence platform for retail. The
					SaaS solution includes features such as optimal order management, sales trend analysis,
					and sales forecasting.
				</p>
				Business Impacts:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Developed a Proof of Concept (PoC) to showcase the platform's value to investors.</li>
				</ul>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Led the backend development of the SaaS platform.</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Data Mining Engineer'
				subheading='@Sentifi - Vietnam'
				date='Oct 2014 - May 2015'
				altText='Data Mining Engineer'
				imageClass='h-12 w-auto md:-left-16'
				imagePath='/src/assets/logo-sentifi.png'
			>
				Tech Achievements:
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Developed a scalable system using Queue Architecture (RabbitMQ) capable of crawling and
						processing data from multiple sources, handling up to millions of records.
					</li>
				</ul>
			</CardBig>
			<CardBig
				heading='Technical Consultant Odoo'
				subheading='@Trobz - Vietnam'
				date='Jan 2014 - Oct 2014'
				altText='Technical Consultant Odoo'
				imagePath='/src/assets/logo-trobz.png'
				imageClass='h-12 w-auto md:-left-16'
			>
				Creating and modifying functions, web services, and modules in Odoo (former OpenERP)
			</CardBig>
		</Section>

		<Section title='Education'>
			<Card
				heading='John von Neumann Institute - Vietnam National University HCM'
				subheading='@Vietnam'
				date='2012 - 2014'
				imagePath='/src/assets/logo-jvn.png'
				altText='John von Neumann Institute'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Master's degree, Information Technology for Banking and Business.</li>
				</ul>
			</Card>
			<Card
				heading='VNUHCM - University of Science'
				subheading='@Vietnam'
				date='2008 - 2012'
				imagePath='/src/assets/logo-uni.png'
				altText='John von Neumann Institute'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Studied in the honor program of University Of Science Ho Chi Minh City.</li>
				</ul>
			</Card>
		</Section>

		<!-- <Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section> -->

		<Section title='Certifications'>
			<Card
				as='a'
				heading='GCP - Professional Cloud Architect Certification'
				date='Oct 2024'
				imagePath='/src/assets/logo-gcp.png'
				altText='GCP - Professional Cloud Architect Certification'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.credly.com/badges/ae13b951-8cfd-4ce3-a742-157b324d2edb/linked_in_profile'
			/>
			<Card
				as='a'
				heading='Google Advanced Data Analytics Certificate'
				date='Oct 2023'
				imagePath='/src/assets/logo-gcp.png'
				altText='Google Advanced Data Analytics Certificate'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.credly.com/badges/c8ed0a5d-7d69-4332-9e16-3bf3bd99910b'
			/>
			<Card
				as='a'
				heading='Cloudskillsboost Certificates'
				date='2023'
				imagePath='/src/assets/logo-gcp.png'
				altText='Cloud Skills Boost Certs'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.cloudskillsboost.google/public_profiles/f0d17524-6b4a-48d0-a980-a85ce0e0bc21'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Domain Knowledge' skills={domainKnowledge} />
			<SkillLayout title='Tech Domains' skills={techDomains} />
			<SkillLayout title='Programming Languages' skills={languages} />
			<SkillLayout title='Cloud Services' skills={clouds} />
			<SkillLayout title='GenAI Knowledge' skills={genAI} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
</PageLayout>
