---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import CardBig from '@/components/CardBig.astro'
import ProjectCard from '../components/ProjectCard.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import HeadLine from '../components/HeadLine.astro'

import { getAllPosts, sortMDByDate, getCompanies } from '@/utils'
const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const domainKnowledge = ['Logistic', 'E-commerce', 'Retail', 'Omni']
const techDomains = [
	'Engineering',
	'Cloud Computing',
	'Gen AI',
]
const languages = ['Python', 'SQL', 'Javascript']
const clouds = ['GCP', 'AWS', 'Aliyun - Alibaba Cloud']
const companies = await getCompanies()
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<HeadLine/>

		<Section title='About'>
			<p>
				I'm a data engineering expert focused on enhancing company operations through efficient data
				systems. My goal is to enable businesses to fully embrace a data-driven approach, driving
				better decision-making and optimizing their overall performance.
			</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			{
				companies.map((company) => (
					<CardBig
					    heading={company.frontmatter.title}
						subheading={company.frontmatter.company}
						date={company.frontmatter.from_to}
						imagePath={company.frontmatter.logo}
						altText={company.frontmatter.title}
						imageClass='h-12 w-auto md:-left-16'
						href={company.frontmatter.link}
					>
						<Fragment set:html={company.compiledContent()} />

					</CardBig>
				))
			}
		</Section>

		<Section title='Education'>
			<Card
				heading='John von Neumann Institute - Vietnam National University HCM'
				subheading='@Vietnam'
				date='2012 - 2014'
				imagePath='/src/assets/logo-jvn.png'
				altText='John von Neumann Institute'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Master's degree, Information Technology for Banking and Business.</li>
				</ul>
			</Card>
			<Card
				heading='VNUHCM - University of Science'
				subheading='@Vietnam'
				date='2008 - 2012'
				imagePath='/src/assets/logo-uni.png'
				altText='John von Neumann Institute'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Studied in the honor program of University Of Science Ho Chi Minh City.</li>
				</ul>
			</Card>
		</Section>

		<!-- <Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section> -->

		<Section title='Certifications'>
			<Card
				as='a'
				heading='GCP - Professional Cloud Architect Certification'
				date='Oct 2024'
				imagePath='/src/assets/logo-gcp.png'
				altText='GCP - Professional Cloud Architect Certification'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.credly.com/badges/ae13b951-8cfd-4ce3-a742-157b324d2edb/linked_in_profile'
			/>
			<Card
				as='a'
				heading='Google Advanced Data Analytics Certificate'
				date='Oct 2023'
				imagePath='/src/assets/logo-gcp.png'
				altText='Google Advanced Data Analytics Certificate'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.credly.com/badges/c8ed0a5d-7d69-4332-9e16-3bf3bd99910b'
			/>
			<Card
				as='a'
				heading='Cloudskillsboost Certificates'
				date='2023'
				imagePath='/src/assets/logo-gcp.png'
				altText='Cloud Skills Boost Certs'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.cloudskillsboost.google/public_profiles/f0d17524-6b4a-48d0-a980-a85ce0e0bc21'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Biz Domains' skills={domainKnowledge} />
			<SkillLayout title='Tech Domains' skills={techDomains} />
			<SkillLayout title='Daily Languages' skills={languages} />
			<SkillLayout title='Cloud Services' skills={clouds} />
		</Section>
	</div>
</PageLayout>
